<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="RunJettyRunWebApp">
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="RunJettyRunWebAppClassPathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="runjettyrun.Bootstrap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="logging"/>
<stringAttribute key="run_jetty_run.CONTEXT_ATTR" value="/logging"/>
<stringAttribute key="run_jetty_run.KEYSTORE_ATTR" value=""/>
<stringAttribute key="run_jetty_run.KEY_PWD_ATTR" value=""/>
<stringAttribute key="run_jetty_run.PORT_ATTR" value="8080"/>
<stringAttribute key="run_jetty_run.PWD_ATTR" value=""/>
<stringAttribute key="run_jetty_run.SSL_PORT_ATTR" value=""/>
<stringAttribute key="run_jetty_run.WEBAPPDIR_ATTR" value="src/main/webapp"/>
</launchConfiguration>
